@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Access Denied";
}

<h1 class="text-danger">Access Denied.</h1>
<h2 class="text-danger">You don't have permission to do this action. Please contact administrator.</h2>

